/* Partie de la page Alerte*/

.alerte {
    display: grid;
    
    grid-template-columns: 150px auto auto;
    grid-template-rows: 75px 75px;
}

.alerte img {

    /* Se trouve tout à gauche */
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    height: 150px;
    margin-right: 10px;
}

.alerte h3 {

    /* Se trouve en haut à droite */
    grid-column-start: 2;
    grid-row-start: 1;

    align-self: end; 

    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.alerte p {

    /* Se trouve en bas à droite */
    grid-column-start: 2;
    grid-row-start: 2;
    
    align-self: start;

    margin: 0;
}

/* Pour centrer le bouton du bas */
.buttonDiv {
    display: flex;
    justify-content: center;
}

.save {
    background-color: green;
}

