/* Partie de la page AlAffiche */

.blocPizza-AlAffiche {
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;

}

.blocPizza-AlAffiche img {
    height: 150px;
    margin: 10px;
}

.blocPizza-AlAffiche button {
    border-radius: 22px;
    border-style: solid;

    background-color: #FF8369;
    color: white;

    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;

    transition: all 100ms ease-out 10ms;
}

.blocPizza-AlAffiche button:hover {
    transform: scale(1.1);
}

.blocPizza-AlAffiche .disabled {
    border-radius: 22px;
    border-style: solid;

    background-color: #FFC7BC;
    color: black;

    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    
    transition: none;
}

.blocPizza-AlAffiche .disabled:hover {
    transform: none;
}