/* Partie CSS pour le gestionnaire */

@import "StyleSheet.css";

/* PARTIE HEADER */

.nom p {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin:0px;
}

/* Partie Barre gestionnaire */
.barreGestionnaire{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}

/* Bouton gestionnaire */
.barreGestionnaire a {
    text-decoration: none;
}

.barreGestionnaire button {
    width: 300px;
    cursor: pointer;
    display: inline-block;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.barreGestionnaire button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.barreGestionnaire button:hover {
    color: #e8e8e8;
}

.barreGestionnaire button:hover::before {
    width: 100%;
}



/* PARTIE MAIN */

main {
    background-color: white;
}

main h1 {
    padding: 8px;
    text-align: center;
}

/* Blocs de menu */

span {
    background-color: antiquewhite;
}

span img {
    border-radius: 20px;
    width: 200px;
}


