.conteneurProd{
    background-color: white;
}

.Separator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: bold;
    color: green;
}

h2{
    text-align: center;
    text-decoration: bold;
    font-style: italic;
    color: red;
}

.Prodimg{
    margin-top: 30px;
    margin-left: 30px;
}

.Prodimg img{
    width: 55%;
    border: thick double green;
    border-radius: 10px;
    text-align: center;
}

.Prodinf img{
    width: 17%;
    object-position: center bottom;
    text-align: center;
    border: 2px black;
}

ul{
    border: 3px black;
    padding: 0;
}

li{
    padding: 5px;
    text-align: center;
}

.Prodinf li.qtn{
    border: 2px solid grey;
    padding: 5px;
    text-align: center;
}

label {
    display: inline-block;
    width: 280px;
    text-align: right;
}

.ingre {
    text-align: left;
    margin : 10px;
}
 