<main>
    <h1>Mon espace gestionnaire</h1>
    <br />
    <section class="menuGestionnaire">
        <a href="index.php?objet=produit&action=pizzaAlAffiche">Pizza à l'affiche</a>
        <a>Gérer les pizzas</a>
        <a>Gérer les produits</a>
        <a>Etat des stocks</a>
        <a>Statistiques</a>

        <!--
        <span id="pizza-affiche">
            <a href="index.php?objet=pizza?action=pizzaAlAffiche">
                <img src="img/pizza_a_l_affiche.jpeg" />
                <p>Pizza du jour</p>
            </a>
        </span>
        -->
    </section>
</main>
</body>