<header>
    <div class="contenerBarre">
        <div class="barreGestionnaire">
            <a href="index.php">
                <div class="nom">
                    <h1>Pizzavers</h1>
                    <p>Page Gestionnaire</p>
                </div>
            </a>

            <div>
                <a href="index.php">
                    <button type="submit">Accueil</button>
                </a>
                <a href="index.php?objet=alerte&action=afficherMesAlertes">
                    <button type="submit">Mes alertes</button>
                </a>
                <a href="index.php?objet=gestionnaire&action=afficherMonCompte">
                    <button type="submit">Mon Compte</button>
                </a>
            </div>
        </div>
    </div>
</header>