<div class="Formulaire">
<form action="index.php?objet=produit&action=creerProduit" method="POST" enctype="multipart/form-data">
    <label for="nomProduit">Nom du produit:</label>
    <input type="text" name="nomProduit" id="nomProduit" required>
    <br />
    <label for="prixProduit">Prix du produit:</label>
    <input type="number" name="prixProduit" id="prixProduit" required>
    <br />
    <label for="idCategorie">Catégorie du produit:</label>
    <select name="idCategorie" id="idCategorie">
        <option value="3">Pizza</option>
        <option value="4">Petite faim</option>
        <option value="2">Boisson</option>
        <option value="1">Dessert</option>
    </select>
    <br />
    <label for="coverProduit">Image du produit:</label>
    <input type="file" accept=".jpeg, jpg" name="coverProduit" id="coverProduit" value="Ajouter un produit" required>
    <br />
    <input type="submit" name="boutonCreer" value="Ajouter le produit" style="cursor: pointer;" /> 
</form>
</div>
</body>