<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pizzavers | Connexion</title>
</head>
<body>
    <h1>Pizzavers</h1>
    
    <form action="../index.php" method="post">
        <a href="../index.php">&larr; Retour</a>
        <br/>
        <h3>Se connecter</h3>
        <div>
            <label for="email">Adresse E-mail </label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label for="mdp">Mot de passe </label>
            <input type="password" name="mdp" required />
        </div>
        <div>
            <input type="submit" name="boutonSeConnecter" value="Se Connecter" /> 
        </div>
    </form>
</body>
</html>