<header>
    <div class="contenerBarre">
        <div class="barre">
            <div class="nom">
                <a href="index.php">Pizzavers</a>
            </div>
            <div>
                <a href="index.php">HOME</a>
            </div>
            <div>
                <a href="contact.php">QUI SOMMES NOUS ?</a>
            </div>
            <div>
                <a href="index.php?objet=produit&action=afficherProduit">PANIER</a>
            </div>
            <div class="seConnecter">
                <img src="img/icons8-personne-homme-64.png" />
                <a href="index.php?objet=connexion&action=afficherConnexion">Se connecter</a>
            </div>
        </div>
    </div>
</header>
<body>
