<header>
    <div class="contenerBarre">
        <div class="barre">
            <div class="nom">
                <a href="index.php">Pizzavers</a>
            </div>
            <div>
                <a href="index.php">
                    <button type="submit">Accueil</button>
                </a>
            </div>
            <div>
                <a href="index.php?objet=info&action=afficherPage">
                    <button type="submit">qui sommes nous ?</button>
                </a>
            </div>
            <div>
                <a href="page2">
                    <button type="submit">Panier</button>
                </a>
            </div>
            <div class="seConnecter">
                <!-- <img src="img/icons8-personne-homme-64.png" /> -->
                <a href="index.php?objet=connexion&action=afficherConnexion">
                    <button type="submit"><img src="img/icons8-personne-homme-64.png" />Se connecter</button>
                </a>
            </div>
        </div>
    </div>
</header>
<body>
